@import "./global/variables";

@import "~bootstrap-scss/functions";
@import "~bootstrap-scss/variables";
@import "~bootstrap-scss/mixins";
@import "~bootstrap-scss/reboot";
@import "~bootstrap-scss/grid";
@import "~bootstrap-scss/images";
@import "~bootstrap-scss/utilities";

@import "~@angular/material/theming";

@import "./global/mixins";
@import "./global/components";
@import "./material";

@include mat-core();

@mixin core() {
  @include create-theme;
  @include situ-text;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  color: $primary;

  &.modal-open {
    overflow: hidden;
  }
}
