$pure-blue: #081dbe !default;
$pink: #f0949b !default;
$yellow: #ffc04a !default;
$warm-red: #ff4438 !default;
$pale-blue: #c5dbf7 !default;
$violet: #835dd0 !default;
$bright-blue: #00a4eb !default;
$cherry: #b24ebe !default;
$orange: #ff8204 !default;
$jade: #00c8b7 !default;
$blue: #081d4d !default;
$black: #000000 !default;
$blush: #eacbc7 !default;

$white: #ffffff !default;
$primary: $blue !default;

// GREYS
$dark-grey: #272d38 !default;
$grey: #676b73 !default;
$slate-grey: #3c414b !default;
$silver: #b5bac2 !default;
$light-grey: #e8ecef !default;
$off-white: #f2f4f7 !default;
$ice-white: #f7f9fc !default;

$colours: $pure-blue, $pink, $yellow, $warm-red, $pale-blue, $violet,
  $bright-blue, $cherry, $orange, $jade, $blue, $black, $blush, $white, $primary,
  $dark-grey, $grey, $slate-grey, $silver, $light-grey, $off-white, $ice-white;
