$white: #ffffff;
$jade: #00c8b7;
$orange: #ff8204;
$grey: #e8ecef;
$cherry: #b24ebe;
$off-white: #f6f7f8;
$blue: #081d4d;
$black: #000000;
$bright-blue: #00a4eb;
$dark-grey: #272d38;
$violet: #835dd0;
$warm-red: #ff4438;
$pale-blue: #c5dbf7;
$yellow: #ffc04a;
$pink: #f0949b;
$blush: #eacbc7;

$primary: $blue;
