$grey: #676b73 !default;
$slate-grey: #3c414b !default;
$silver: #bfc5ca !default;
$pure-blue: #081dbe !default;
$pink: #f0949b !default;
$yellow: #ffc04a !default;
$warm-red: #ff4438 !default;
$pale-blue: #c5dbf7 !default;
$violet: #835dd0 !default;
$bright-blue: #00a4eb !default;
$cherry: #b24ebe !default;
$orange: #ff8204 !default;
$jade: #00c8b7 !default;
$blue: #081d4d !default;
$dark-grey: #272d38 !default;
$black: #000000 !default;
$light-grey: #d6dce0 !default;
$off-white: #f6f7f8 !default;
$blush: #eacbc7 !default;

$white: #ffffff !default;
$primary: $blue !default;
