$situ-font-path: "/fonts" !default;
$h1-sizes: (
  xs: 33px,
  sm: 42px,
  md: 46px,
  lg: 50px,
  xl: 55px,
) !default;
$h2-sizes: (
  xs: 22px,
  sm: 32px,
  md: 46px,
  lg: 40px,
  xl: 45px,
) !default;
$h3-sizes: (
  xs: 20px,
  sm: 24px,
  md: 28px,
  lg: 32px,
  xl: 37px,
) !default;
$h4-sizes: (
  xs: 18px,
  sm: 22px,
  md: 22px,
  lg: 24px,
  xl: 26px,
);
$h5-sizes: (
  xs: 16px,
  sm: 20px,
  md: 20px,
  lg: 22px,
  xl: 24px,
) !default;
$h6-sizes: (
  xs: 16px,
  sm: 18px,
  md: 18px,
  lg: 18px,
  xl: 20px,
) !default;
$font-sizes: (
  xs: 16px,
  sm: 16px,
  md: 16px,
  lg: 18px,
  xl: 18px,
) !default;
$small-sizes: (
  xs: 14px,
  sm: 14px,
  md: 14px,
  lg: 16px,
  xl: 16px,
) !default;
$h1-lineheight: (
  xs: 43px,
  sm: 50px,
  md: 56px,
  lg: 60px,
  xl: 65px,
) !default;
$h2-lineheight: (
  xs: 32px,
  sm: 42px,
  md: 46px,
  lg: 50px,
  xl: 55px,
) !default;
$h3-lineheight: (
  xs: 30px,
  sm: 34px,
  md: 38px,
  lg: 42px,
  xl: 47px,
) !default;
$h4-lineheight: (
  xs: 24px,
  sm: 29px,
  md: 29px,
  lg: 31px,
  xl: 33px,
);
$h5-lineheight: (
  xs: 22px,
  sm: 27px,
  md: 27px,
  lg: 29px,
  xl: 31px,
) !default;
$h6-lineheight: (
  xs: 22px,
  sm: 25px,
  md: 25px,
  lg: 25px,
  xl: 27px,
) !default;
$font-lineheight: (
  xs: 22px,
  sm: 23px,
  md: 23px,
  lg: 25px,
  xl: 25px,
) !default;
$small-lineheight: (
  xs: 20px,
  sm: 20px,
  md: 20px,
  lg: 22px,
  xl: 22px,
) !default;
$button-sizes: $font-sizes !default;
