$h1-size: 3.052rem !default;
$h2-size: 2.441rem !default;
$h3-sizes: 1.953rem !default;
$h4-size: 1.563rem !default;
$h5-size: 1.25rem !default;
$h6-size: 1rem !default;
$font-size: 1rem !default;
$small-size: 0.8rem !default;

$h1-lineheights: (
  xs: 63.48px,
  sm: 63.48px,
  md: 63.48px,
  lg: 71.41px,
  xl: 71.41px,
) !default;

$h2-lineheights: (
  xs: 50.78px,
  sm: 50.78px,
  md: 50.78px,
  lg: 57.14px,
  xl: 57.14px,
) !default;

$h3-lineheights: (
  xs: 40.63px,
  sm: 40.63px,
  md: 40.63px,
  lg: 45.71px,
  xl: 45.71px,
) !default;

$h4-lineheights: (
  xs: 32.5px,
  sm: 32.5px,
  md: 32.5px,
  lg: 36.57px,
  xl: 36.57px,
) !default;

$h5-lineheights: (
  xs: 26px,
  sm: 26px,
  md: 26px,
  lg: 29.25px,
  xl: 29.25px,
) !default;

$h6-lineheights: (
  xs: 24px,
  sm: 24px,
  md: 24px,
  lg: 23.4px,
  xl: 23.4px,
) !default;

$font-lineheights: (
  xs: 24px,
  sm: 24px,
  md: 24px,
  lg: 27px,
  xl: 27px,
) !default;

$small-lineheights: (
  xs: 19.2px,
  sm: 19.2px,
  md: 19.2px,
  lg: 21.6px,
  xl: 21.6px,
) !default;

$button-size: $font-size !default;
