$situ-font-path: "/fonts" !default;
$h1-sizes: (
  xs: 40px,
  sm: 40px,
  md: 50px,
  lg: 60px,
  xl: 80px,
) !default;
$h2-sizes: (
  xs: 34px,
  sm: 36px,
  md: 40px,
  lg: 48px,
  xl: 48px,
) !default;
$h3-sizes: (
  xs: 32px,
  sm: 34px,
  md: 36px,
  lg: 36px,
  xl: 36px,
) !default;
$h4-sizes: (
  xs: 28px,
  sm: 30px,
  md: 32px,
  lg: 34px,
  xl: 36px,
) !default;
$h5-sizes: (
  xs: 18px,
  sm: 24px,
  md: 24px,
  lg: 24px,
  xl: 24px,
) !default;
$h6-sizes: (
  xs: 16px,
  sm: 18px,
  md: 20px,
  lg: 20px,
  xl: 20px,
) !default;
$font-sizes: (
  xs: 16px,
  sm: 16px,
  md: 16px,
  lg: 18px,
  xl: 18px,
) !default;
$small-sizes: (
  xs: 14px,
  sm: 14px,
  md: 14px,
  lg: 14px,
  xl: 14px,
) !default;
$button-sizes: $font-sizes !default;
