; begin auth token
//pkgs.dev.azure.com/situstores/_packaging/npm-repository/npm/registry/:username=any
//pkgs.dev.azure.com/situstores/_packaging/npm-repository/npm/registry/:_password=NHRka2R4eWM0M29kbnFhamxpeXBka2N3ZnNueHVkZTNzcG5qcDNudzJkNnFuemh5ZDNqYQ==
//pkgs.dev.azure.com/situstores/_packaging/npm-repository/npm/registry/:email=any
//pkgs.dev.azure.com/situstores/_packaging/npm-repository/npm/:username=any
//pkgs.dev.azure.com/situstores/_packaging/npm-repository/npm/:_password=NHRka2R4eWM0M29kbnFhamxpeXBka2N3ZnNueHVkZTNzcG5qcDNudzJkNnFuemh5ZDNqYQ==
//pkgs.dev.azure.com/situstores/_packaging/npm-repository/npm/:email=any
; end auth token

registry=https://pkgs.dev.azure.com/situstores/_packaging/npm-repository/npm/registry/ 
                        
always-auth=true