.btn-link {
  @include titleFont;
  display: block;
  text-decoration: none;
  line-height: 50px;
  position: relative;
  padding: 0 40px;
  text-transform: uppercase;
  background-color: transparent;
  border: none;

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled):focus,
  &:not(:disabled):not(.disabled):hover,
  &:not(:disabled):not(.disabled).active,
  &:not(:disabled):not(.disabled).focus {
    text-decoration: none;
    border: none;
    outline: none;

    &:after {
      content: "";
      position: absolute;
      bottom: 7px;
      left: 40px;
      right: 40px;
      height: 2px;
      border-radius: 1px;
      background-color: $primary;
    }
  }
}
