$logo-height: 36px;

.footer {
  position: relative;
  z-index: 1000;

  .section-dark {
    padding-top: $margin-xxl * 2;
    padding-bottom: $margin-xxl;
  }

  .small {
    @include media-breakpoint-up(lg) {
      width: 80%;
    }

    ::ng-deep {
      font-size: 12px;

      @include media-breakpoint-up(lg) {
        font-size: 14px;
      }
    }

    margin-bottom: $margin-xs;
  }

  .logo-container {
    overflow: hidden;
    margin-bottom: $margin-lg;
  }

  .logo > svg {
    height: $logo-height;
  }

  h3 {
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: $margin-lg;
    line-height: 1.2;

    background: none;
    background-clip: inherit;
    -webkit-text-fill-color: inherit;
  }

  hr {
    height: 2px;
    background-image: linear-gradient(
        90deg,
        transparent,
        transparent 25%,
        $blue 25%,
        $blue 100%
      ),
      linear-gradient(90deg, $jade, $cherry, #ff4438);
    background-size: 8px 3px, 100% 2px;
    border: none;
    margin-top: 36px;
    margin-bottom: 60px;
  }

  ul {
    li {
      .btn-link {
        display: inline-block;
        margin-bottom: 20px;
        padding: 0;

        &:not(:disabled):not(.disabled):active,
        &:not(:disabled):not(.disabled):focus,
        &:not(:disabled):not(.disabled):hover,
        &:not(:disabled):not(.disabled).active,
        &:not(:disabled):not(.disabled).focus {
          &:after {
            left: 0;
            right: 0;
          }
        }
      }
    }

    @include media-breakpoint-up(lg) {
      display: flex;
      justify-content: space-between;
      margin: 0;

      li {
        flex: 0 1 auto;
      }
    }
  }

  .footer-description {
    .linkedin svg,
    .twitter svg {
      height: 25px;
      fill: $dark-grey;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }
}
