@include media-breakpoint-up(lg) {

  .container,
  .container-fluid {
    padding-left: $grid-gutter-width-md/2;
    padding-right: $grid-gutter-width-md/2;

    >.row:not(.no-gutters) {
      margin-left: -$grid-gutter-width-md/2;
      margin-right: -$grid-gutter-width-md/2;

      >.col:not(.no-gutters),
      >[class*="col-"]:not(.no-gutters) {
        padding-left: $grid-gutter-width-md/2;
        padding-right: $grid-gutter-width-md/2;
      }
    }
  }

  form .container,
  form .container-fluid {
    padding-left: $grid-gutter-width/2;
    padding-right: $grid-gutter-width/2;

    >.row:not(.no-gutters) {
      margin-left: -$grid-gutter-width/2;
      margin-right: -$grid-gutter-width/2;

      >.col:not(.no-gutters),
      >[class*="col-"]:not(.no-gutters) {
        padding-left: $grid-gutter-width/2;
        padding-right: $grid-gutter-width/2;
      }
    }
  }

  .thin-gutters.row:not(.no-gutters) {
    margin-left: -$grid-gutter-width-lg/4 !important;
    margin-right: -$grid-gutter-width-lg/4 !important;

    >.col:not(.no-gutters),
    >[class*="col-"]:not(.no-gutters) {
      padding-left: $grid-gutter-width-lg/4 !important;
      padding-right: $grid-gutter-width-lg/4 !important;
    }
  }

  .ultra-thin-gutters.row:not(.no-gutters) {
    margin-left: -$grid-gutter-width-lg/8 !important;
    margin-right: -$grid-gutter-width-lg/8 !important;

    >.col:not(.no-gutters),
    >[class*="col-"]:not(.no-gutters) {
      padding-left: $grid-gutter-width-lg/8 !important;
      padding-right: $grid-gutter-width-lg/8 !important;
    }
  }
}

@include media-breakpoint-up(xxl) {

  .container,
  .container-fluid {
    padding-left: $grid-gutter-width-lg/2;
    padding-right: $grid-gutter-width-lg/2;

    >.row:not(.no-gutters) {
      margin-left: -$grid-gutter-width-lg/2;
      margin-right: -$grid-gutter-width-lg/2;

      >.col:not(.no-gutters),
      >[class*="col-"]:not(.no-gutters) {
        padding-left: $grid-gutter-width-lg/2;
        padding-right: $grid-gutter-width-lg/2;
      }
    }
  }
}