$header-height: 50px;
$logo-height: 36px;

.header {
    nav {
        position: fixed;
        top: 0;
        width: 100%;
        height: $header-height * 2;
        z-index: 1000;

        @include media-breakpoint-up(lg) {
            .col-lg-12 {
                display: flex;
                justify-content: space-between;
            }
        }
    }

    .logo>svg {
        margin: 32px 15px 32px 0;
        height: $logo-height;
    }
}