.site-header {
  width: 100%;
  min-height: $header-height;
  z-index: 1000;

  &.header-transparent > nav {
    background-color: transparent !important;
  }

  .nav-main {
    @include media-breakpoint-up(lg) {
      .col-lg-12 {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  .logo {
    width: 50%;
    position: relative;
    z-index: 9999;

    @include media-breakpoint-up(sm) {
      width: auto;
    }

    > svg {
      overflow: visible;
      margin: 32px 15px 32px 0;
      height: $logo-height;
      width: 100%;

      @include media-breakpoint-up(sm) {
        width: auto;
      }

      path {
        stroke: $primary;
        fill: $primary;
      }
    }
  }

  .section-dark {
    .logo path {
      stroke: white;
      fill: white;
    }
  }
}
