@use "sass:math";

.section {
  padding-top: math.div($padding-xxl, 2);
  padding-bottom: math.div($padding-xxl, 2);

  @include media-breakpoint-up(sm) {
    padding-top: $padding-xxl;
    padding-bottom: $padding-xxl;
  }

  @include media-breakpoint-up(lg) {
    padding-top: $padding-xxl * 2;
    padding-bottom: $padding-xxl * 2;
  }
}

@each $name, $colour in $dark-colours {
  @include createSection($name, $colour, $white);
}

@each $name, $colour in $light-colours {
  @include createSection($name, $colour, $primary);
}

@include createGradientSection(
  "gradient-bright-blue",
  $white,
  110deg,
  $jade,
  $bright-blue
);
@include createGradientSection(
  "gradient-cherry",
  $white,
  110deg,
  $jade,
  $bright-blue,
  $cherry
);
