.section {
  padding-top: math.div($padding-xxl, 2);
  padding-bottom: math.div($padding-xxl, 2);

  @include media-breakpoint-up(sm) {
    padding-top: $padding-xxl;
    padding-bottom: $padding-xxl;
  }

  @include media-breakpoint-up(lg) {
    padding-top: $padding-xxl * 2;
    padding-bottom: $padding-xxl * 2;
  }
}

@include createSection("dark", $blue, $white);
@include createSection("jade", $jade, $white);
@include createSection("dark-grey", $dark-grey, $white);
@include createSection("white", $white, $primary);
@include createSection("off-white", $off-white, $primary);
@include createSection("light-grey", $light-grey, $primary);
@include createSection("grey", $grey, $primary);
@include createSection("ice-white", $ice-white, $primary);
