.blockquote,
blockquote {
  margin: 0 $margin-lg $margin-lg $margin-lg;
  padding: $padding-lg;
  border-left: 5px solid $primary;
  background-color: $off-white;

  > p:last-child {
    margin-bottom: 0;
  }

  a {
    margin-top: -$margin-lg;
    display: block;
    font-size: smaller;
  }
}

@each $name, $colour in $colours {
  .text--#{$name} {
    color: $colour;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.p {
  @include createText("dark", $blue);
  @include createText("jade", $jade);
  @include createText("dark-grey", $dark-grey);
  @include createText("white", $white);
  @include createText("off-white", $off-white);
  @include createText("light-grey", $light-grey);
  @include createText("grey", $grey);
  @include createText("ice-white", $ice-white);
}
