@mixin createSection($name, $backgroundColour, $fontColour: $white) {
  .section-#{$name} {
    background-color: $backgroundColour;
    color: $fontColour;

    .btn-link {
      color: $fontColour !important;
    }

    > .lds-ring > div {
      border-color: $fontColour transparent transparent transparent !important;
    }

    @for $i from 1 through 100 {
      &.background-opacity-#{$i} {
        background-color: rgba($backgroundColour, calc($i / 100));
      }
    }
  }
}
