@mixin createSection($name, $backgroundColour, $fontColour: $white) {
  .section-#{$name} {
    background-color: $backgroundColour;
    color: $fontColour;

    .btn-link {
      color: $fontColour !important;
    }

    > .lds-ring > div {
      border-color: $fontColour transparent transparent transparent !important;
    }
  }
}
