@import "bootstrap-scss/functions";
@import "bootstrap-scss/variables";
@import "bootstrap-scss/mixins/_breakpoints";

@mixin createText($name, $fontColour) {
  &.#{$name}--text {
    color: $fontColour;
  }
}

@mixin headerOne() {
  @include lineHeight($h1-lineheights);
  font-size: $h1-size;
  font-weight: 800;

  margin-top: 0;
  margin-bottom: 0;
  margin-bottom: $margin-lg;
}

@mixin headerTwo() {
  @include lineHeight($h2-lineheights);
  font-size: $h2-size;
  font-weight: 800;

  margin-top: 0;
  margin-bottom: $margin-lg;
}

@mixin headerThree {
  @include lineHeight($h3-lineheights);
  font-size: $h3-size;
  font-weight: 800;

  margin-top: 0;
  margin-bottom: $margin-lg;
}

@mixin headerFour {
  @include lineHeight($h4-lineheights);
  font-size: $h4-size;
  font-weight: 700;

  margin-top: 0;
  margin-bottom: $margin-lg;
}

@mixin headerFive {
  @include lineHeight($h5-lineheights);
  font-size: $h5-size;
  font-weight: 700;

  margin-top: 0;
  margin-bottom: $margin-lg;
}

@mixin headerSix {
  @include lineHeight($h6-lineheights);
  font-size: $h6-size;
  font-weight: 700;

  margin-top: 0;
  margin-bottom: $margin-lg;
}

@mixin lineHeight($sizes, $i: false /* flag for`!important` */) {
  $important: if($i, "!important", "");
  line-height: map-get($sizes, xs) #{$important};

  @include media-breakpoint-up(xs) {
    line-height: map-get($sizes, xs) #{$important};
  }

  @include media-breakpoint-up(sm) {
    line-height: map-get($sizes, sm) #{$important};
  }

  @include media-breakpoint-up(md) {
    line-height: map-get($sizes, md) #{$important};
  }

  @include media-breakpoint-up(lg) {
    line-height: map-get($sizes, lg) #{$important};
  }

  @include media-breakpoint-up(xl) {
    line-height: map-get($sizes, xl) #{$important};
  }
}

@mixin situ-text() {
  @import url("https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans:400,700,800");

  html {
    font-size: 100% !important; /* 16px */

    @include media-breakpoint-up(lg) {
      font-size: 112.5% !important; /* 18px */
    }
  }

  body {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: $font-size;
    font-weight: 400;
    line-height: 1.5;
  }

  h1,
  .h1 {
    @include headerOne;
  }

  h2,
  .h2 {
    @include headerTwo;
  }

  h3,
  .h3 {
    @include headerThree;
  }

  h4,
  .h4 {
    @include headerFour;
  }

  h5,
  .h5 {
    @include headerFive;
  }

  h6,
  .h6 {
    @include headerSix;
  }

  .p {
    @include lineHeight($font-lineheights);
    font-size: $font-size;
    font-weight: 400;
  }

  label {
    margin-bottom: $margin-xs;
    text-transform: uppercase;
    font-size: $small-size;
  }

  ul {
    @include lineHeight($font-lineheights);
    font-size: $font-size;
  }

  input {
    @include lineHeight($font-lineheights);
    font-size: $font-size;
  }

  p {
    @include lineHeight($font-lineheights);
    font-size: $font-size;
    margin-bottom: $margin-lg;
  }

  .strong,
  .bold {
    font-weight: 700;
  }

  .small {
    @include lineHeight($small-lineheights);
    font-size: $small-size;
  }
}
