@import "~bootstrap-scss/functions";
@import "~bootstrap-scss/variables";
@import "~bootstrap-scss/mixins/_breakpoints";

@mixin bodyFont($i: false /* flag for`!important` */) {
  $important: if($i, "!important", "");
  font-family: "SituLiveLight" #{$important};
}

@mixin titleFont($i: false /* flag for`!important` */) {
  $important: if($i, "!important", "");
  font-family: "EuclidTriangleSemiBold" #{$important};
}

@mixin body {
  @include bodyFont;
  @include fontSize($font-sizes);
  font-weight: 400;
}

@mixin headerOne() {
  @include titleFont;
  @include fontSize($h1-sizes);

  margin-top: 0;
  margin-bottom: 0;
}

@mixin headerTwo() {
  @include titleFont;
  @include fontSize($h2-sizes);

  margin-top: 0;
  margin-bottom: $margin-lg;
}

@mixin headerThree {
  @include titleFont;
  @include fontSize($h3-sizes);

  margin-top: 0;
  margin-bottom: $margin-lg;
}

@mixin headerFour {
  @include titleFont;
  @include fontSize($h4-sizes);

  margin-top: 0;
  margin-bottom: $margin-lg;
}

@mixin headerFive {
  @include bodyFont;
  @include fontSize($h5-sizes);

  margin-top: 0;
  margin-bottom: $margin-lg;
}

@mixin headerSix {
  @include bodyFont;
  @include fontSize($h6-sizes);

  margin-top: 0;
  margin-bottom: $margin-lg;
}

@mixin fontSize($sizes, $i: false /* flag for`!important` */) {
  $important: if($i, "!important", "");
  font-size: map-get($sizes, xs) #{$important};

  @include media-breakpoint-up(xs) {
    font-size: map-get($sizes, xs) #{$important};
  }

  @include media-breakpoint-up(sm) {
    font-size: map-get($sizes, sm) #{$important};
  }

  @include media-breakpoint-up(md) {
    font-size: map-get($sizes, md) #{$important};
  }

  @include media-breakpoint-up(lg) {
    font-size: map-get($sizes, lg) #{$important};
  }

  @include media-breakpoint-up(xl) {
    font-size: map-get($sizes, xl) #{$important};
  }
}

@mixin makeGradientText($percent) {
  background: linear-gradient(to left, $jade $percent, $bright-blue);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin situ-text() {
  @font-face {
    font-family: "SituLiveLight";
    src: url("#{$situ-font-path}/situlive-light.woff2") format("woff2"),
      url("#{$situ-font-path}/situlive-light.woff") format("woff");
    font-display: swap;
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "EuclidTriangleSemiBold";
    src: url("#{$situ-font-path}/euclidtriangle-semibold.woff2") format("woff2"),
      url("#{$situ-font-path}/euclidtriangle-semibold.woff") format("woff");
    font-display: swap;
    font-weight: 600;
    font-style: normal;
  }

  body {
    @include body;
  }

  h1,
  .h1 {
    line-height: 1;
  }

  h1,
  .h1 {
    @include headerOne;
  }

  h2,
  .h2 {
    @include headerTwo;
  }

  h3,
  .h3 {
    @include headerThree;
  }

  h4,
  .h4 {
    @include headerFour;
  }

  h5,
  .h5 {
    @include headerFive;
  }

  h6,
  .h6 {
    @include headerSix;
  }

  .p {
    @include body;
  }

  label {
    @include bodyFont;
    margin-bottom: $margin-xs;
    text-transform: uppercase;
    font-size: 12px;
  }

  ul {
    @include titleFont;
  }

  input {
    @include bodyFont;
  }

  p {
    margin-bottom: $margin-lg;
  }

  .small {
    @include fontSize($small-sizes);
  }
}
