@use "sass:math";

@mixin aspect-ratio($width, $height, $i: false /* flag for`!important` */) {
  $important: if($i, "!important", "");

  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: math.div($height, $width) * 100% #{$important};
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
