@mixin make-buttons($name, $primaryColor, $secondaryColor) {
  &.mat-#{$name} {
    background-color: $primaryColor;
    border: 2px solid $primaryColor;
    color: $secondaryColor;

    .mat-progress-spinner circle,
    .mat-spinner circle {
      stroke: $secondaryColor;
    }

    &:disabled,
    &.disabled,
    &[disabled] {
      background-color: rgba($primaryColor, 0.65);
      border: 2px solid rgba($primaryColor, 0.1);
      color: rgba($secondaryColor, 0.65);

      .mat-progress-spinner circle,
      .mat-spinner circle {
        stroke: rgba($secondaryColor, 0.65);
      }
    }

    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled):focus,
    &:not(:disabled):not(.disabled):hover,
    &:not(:disabled):not(.disabled).active,
    &:not(:disabled):not(.disabled).focus {
      background-color: $secondaryColor;
      color: $primaryColor;

      .mat-progress-spinner circle,
      .mat-spinner circle {
        stroke: $primaryColor;
      }
    }
  }

  &.mat-inverse-#{$name} {
    background-color: $secondaryColor;
    border: 2px solid $primaryColor;
    color: $primaryColor;

    .mat-progress-spinner circle,
    .mat-spinner circle {
      stroke: $primaryColor;
    }

    &:disabled,
    &.disabled,
    &[disabled] {
      background-color: rgba($secondaryColor, 0.65);
      border: 2px solid rgba($primaryColor, 0.1);
      color: rgba($primaryColor, 0.65);

      .mat-progress-spinner circle,
      .mat-spinner circle {
        stroke: rgba($primaryColor, 0.65);
      }
    }

    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled):focus,
    &:not(:disabled):not(.disabled):hover,
    &:not(:disabled):not(.disabled).active,
    &:not(:disabled):not(.disabled).focus {
      background-color: $primaryColor;
      border: 2px solid $secondaryColor;
      color: $secondaryColor;

      .mat-progress-spinner circle,
      .mat-spinner circle {
        stroke: $secondaryColor;
      }
    }
  }

  &.mat-transparent-#{$name} {
    background-color: transparent;
    border: 2px solid $primaryColor;
    color: $primaryColor;

    .mat-progress-spinner circle,
    .mat-spinner circle {
      stroke: $primaryColor;
    }

    &:disabled,
    &.disabled {
      border: 2px solid $primaryColor;
      color: $primaryColor;

      .mat-progress-spinner circle,
      .mat-spinner circle {
        stroke: rgba($primaryColor, 0.65);
      }
    }

    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled):focus,
    &:not(:disabled):not(.disabled):hover,
    &:not(:disabled):not(.disabled).active,
    &:not(:disabled):not(.disabled).focus {
      background-color: $primaryColor;
      border: 2px solid $primaryColor;
      color: $secondaryColor;

      .mat-progress-spinner circle,
      .mat-spinner circle {
        stroke: $secondaryColor;
      }
    }
  }

  &.mat-inverse-transparent-#{$name} {
    background-color: $primaryColor;
    border: 2px solid $primaryColor;
    color: $secondaryColor;

    .mat-progress-spinner circle,
    .mat-spinner circle {
      stroke: $secondaryColor;
    }

    &:disabled,
    &.disabled {
      border: 2px solid $secondaryColor;
      color: $secondaryColor;

      .mat-progress-spinner circle,
      .mat-spinner circle {
        stroke: rgba($secondaryColor, 0.65);
      }
    }

    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled):focus,
    &:not(:disabled):not(.disabled):hover,
    &:not(:disabled):not(.disabled).active,
    &:not(:disabled):not(.disabled).focus {
      background-color: transparent;
      border: 2px solid $primaryColor;
      color: $primaryColor;

      .mat-progress-spinner circle,
      .mat-spinner circle {
        stroke: $primaryColor;
      }
    }
  }
}