@mixin make-buttons($name, $color) {
  &.mat-#{$name} {
    background-color: $color;
    border: 2px solid $color;
    color: white;

    &:disabled,
    &.disabled,
    &[disabled] {
      background-color: rgba($color, 0.65);
      border: 2px solid rgba($color, 0.1);
      color: rgba(white, 0.65);
    }

    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled):focus,
    &:not(:disabled):not(.disabled):hover,
    &:not(:disabled):not(.disabled).active,
    &:not(:disabled):not(.disabled).focus {
      background-color: white;
      color: $color;
    }
  }

  &.mat-inverse-#{$name} {
    background-color: white;
    border: 2px solid $color;
    color: $color;

    &:disabled,
    &.disabled,
    &[disabled] {
      background-color: rgba(white, 0.65);
      border: 2px solid rgba($color, 0.1);
      color: rgba($color, 0.65);
    }

    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled):focus,
    &:not(:disabled):not(.disabled):hover,
    &:not(:disabled):not(.disabled).active,
    &:not(:disabled):not(.disabled).focus {
      background-color: $color;
      border: 2px solid white;
      color: white;
    }
  }

  &.mat-transparent-#{$name} {
    background-color: transparent;
    border: 2px solid $color;
    color: $color;

    &:disabled,
    &.disabled {
      border: 2px solid $color;
      color: $color;
    }

    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled):focus,
    &:not(:disabled):not(.disabled):hover,
    &:not(:disabled):not(.disabled).active,
    &:not(:disabled):not(.disabled).focus {
      background-color: $color;
      border: 2px solid $color;
      color: white;
    }
  }

  &.mat-inverse-transparent-#{$name} {
    background-color: $color;
    border: 2px solid $color;
    color: white;

    &:disabled,
    &.disabled {
      border: 2px solid white;
      color: white;
    }

    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled):focus,
    &:not(:disabled):not(.disabled):hover,
    &:not(:disabled):not(.disabled).active,
    &:not(:disabled):not(.disabled).focus {
      background-color: transparent;
      border: 2px solid $color;
      color: $color;
    }
  }
}
