@mixin create-theme() {
  $sxp-primary: define-palette($sxp-blue-palette, 800, 100, 900);
  $sxp-accent: define-palette($sxp-jade-palette, 600, 100, 900);
  $sxp-warn: define-palette($sxp-red-palette, 300, 100, 700);

  $sxp-theme: define-light-theme($sxp-primary, $sxp-accent, $sxp-warn);

  @include all-component-themes($sxp-theme);
}
