$dark-primary-text: $primary;
$light-primary-text: white;

$sxp-blue-palette: (
  50: lighten($blue-100, 80%),
  100: lighten($blue-100, 70%),
  200: lighten($blue-100, 60%),
  300: lighten($blue-100, 50%),
  400: lighten($blue-100, 40%),
  500: lighten($blue-100, 30%),
  600: lighten($blue-100, 20%),
  700: lighten($blue-100, 10%),
  800: $blue-100,
  900: darken($blue-100, 10%),
  A100: $green-030,
  A200: $green-050,
  A400: $green-070,
  A700: $green-100,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  ),
);

$sxp-jade-palette: (
  50: ligthen($green-100, 60%),
  100: ligthen($green-100, 50%),
  200: ligthen($green-100, 40%),
  300: ligthen($green-100, 30%),
  400: ligthen($green-100, 20%),
  500: ligthen($green-100, 10%),
  600: $green-100,
  700: darken($green-100, 10%),
  800: darken($green-100, 20%),
  900: darken($green-100, 30%),
  A100: $green-030,
  A200: $green-050,
  A400: $green-070,
  A700: $green-100,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  ),
);

$sxp-red-palette: (
  50: ligthen($spanish-crimson, 30%),
  100: ligthen($spanish-crimson, 20%),
  200: ligthen($spanish-crimson, 10%),
  300: $spanish-crimson,
  400: darken($spanish-crimson, 10%),
  500: darken($spanish-crimson, 20%),
  600: darken($spanish-crimson, 30%),
  700: darken($spanish-crimson, 40%),
  800: darken($spanish-crimson, 50%),
  900: darken($spanish-crimson, 60%),
  A100: #b9f6ca,
  A200: #69f0ae,
  A400: #00e676,
  A700: #00c853,
  contrast: (
    50: $light-primary-text,
    100: $light-primary-text,
    200: $light-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $light-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ),
);
