$dark-primary-text: $primary;
$light-primary-text: white;

$sxp-blue-palette: (50: lighten($blue, 80%),
    100: lighten($blue, 70%),
    200: lighten($blue, 60%),
    300: lighten($blue, 50%),
    400: lighten($blue, 40%),
    500: lighten($blue, 30%),
    600: lighten($blue, 20%),
    700: lighten($blue, 10%),
    800: $blue,
    900: darken($blue, 10%),
    A100: #b9f6ca,
    A200: #69f0ae,
    A400: #00e676,
    A700: #00c853,
    contrast: (50: $dark-primary-text,
        100: $dark-primary-text,
        200: $dark-primary-text,
        300: $dark-primary-text,
        400: $light-primary-text,
        500: $light-primary-text,
        600: $light-primary-text,
        700: $light-primary-text,
        800: $light-primary-text,
        900: $light-primary-text,
        A100: $dark-primary-text,
        A200: $dark-primary-text,
        A400: $dark-primary-text,
        A700: $dark-primary-text));

$sxp-jade-palette: (50: ligthen($jade, 60%),
    100: ligthen($jade, 50%),
    200: ligthen($jade, 40%),
    300: ligthen($jade, 30%),
    400: ligthen($jade, 20%),
    500: ligthen($jade, 10%),
    600: $jade,
    700: darken($jade, 10%),
    800: darken($jade, 20%),
    900: darken($jade, 30%),
    A100: #b9f6ca,
    A200: #69f0ae,
    A400: #00e676,
    A700: #00c853,
    contrast: (50: $dark-primary-text,
        100: $dark-primary-text,
        200: $dark-primary-text,
        300: $dark-primary-text,
        400: $dark-primary-text,
        500: $dark-primary-text,
        600: $light-primary-text,
        700: $light-primary-text,
        800: $light-primary-text,
        900: $light-primary-text,
        A100: $dark-primary-text,
        A200: $dark-primary-text,
        A400: $dark-primary-text,
        A700: $dark-primary-text,
    ));


$sxp-red-palette: (50: ligthen($warm-red, 30%),
    100: ligthen($warm-red, 20%),
    200: ligthen($warm-red, 10%),
    300: $warm-red,
    400: darken($warm-red, 10%),
    500: darken($warm-red, 20%),
    600: darken($warm-red, 30%),
    700: darken($warm-red, 40%),
    800: darken($warm-red, 50%),
    900: darken($warm-red, 60%),
    A100: #b9f6ca,
    A200: #69f0ae,
    A400: #00e676,
    A700: #00c853,
    contrast: (50: $light-primary-text,
        100: $light-primary-text,
        200: $light-primary-text,
        300: $light-primary-text,
        400: $light-primary-text,
        500: $light-primary-text,
        600: $light-primary-text,
        700: $light-primary-text,
        800: $light-primary-text,
        900: $light-primary-text,
        A100: $light-primary-text,
        A200: $light-primary-text,
        A400: $light-primary-text,
        A700: $light-primary-text,
    ));