.mat-mdc-button-base:not(.mat-mdc-fab):not(.mat-mdc-mini-fab):not(
    .mat-mdc-icon-button
  ) {
  display: block;
  width: 100%;

  @include media-breakpoint-up(sm) {
    display: inline-flex;
    width: auto;
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled):focus,
  &:not(:disabled):not(.disabled):hover,
  &:not(:disabled):not(.disabled).active,
  &:not(:disabled):not(.disabled).focus {
    outline: none;
    box-shadow: none;
    text-decoration: none;
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled):focus,
  &:not(:disabled):not(.disabled).active,
  &:not(:disabled):not(.disabled).focus {
    box-shadow: none;
  }
}

.mat-mdc-button-base:not(.mat-mdc-fab):not(.mat-mdc-mini-fab):not(
    .mat-mdc-icon-button
  ) {
  border-radius: 25px;
  padding: 0 40px;
  margin-bottom: $margin-lg;
  text-transform: uppercase;

  @include make-buttons("primary", $primary, white);
  @include make-buttons("white", white, $primary);
  @include make-buttons("green", $green-100, $primary);

  .mat-mdc-reverse > .mat-mdc-button-wrapper {
    flex-direction: row-reverse;
  }

  .mat-mdc-button-wrapper {
    font-size: $font-size;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.mat-mdc-fab,
.mat-mdc-mini-fab {
  //border-radius: 50%;
  display: flex;

  .mat-mdc-button-wrapper {
    width: 100%;
    align-self: center;
  }
}

.btn-block:not(.mat-mdc-fab):not(.mat-mdc-mini-fab):not(.mat-mdc-icon-button) {
  display: block;

  .mat-mdc-button-wrapper {
    position: relative;

    .mat-mdc-icon {
      top: 13px; // Height of button - height of icon / 2
      left: -25px;
      position: absolute;
    }
  }

  &:not(a) {
    width: 100%;
  }
}
