.mat-button-base:not(.mat-fab):not(.mat-mini-fab):not(.mat-icon-button) {
  display: block;
  width: 100%;

  @include media-breakpoint-up(sm) {
    display: inline-block;
    width: auto;
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled):focus,
  &:not(:disabled):not(.disabled):hover,
  &:not(:disabled):not(.disabled).active,
  &:not(:disabled):not(.disabled).focus {
    outline: none;
    box-shadow: none;
    text-decoration: none;
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled):focus,
  &:not(:disabled):not(.disabled).active,
  &:not(:disabled):not(.disabled).focus {
    box-shadow: none;
  }
}

.mat-button-base:not(.mat-fab):not(.mat-mini-fab):not(.mat-icon-button) {
  @include titleFont;
  border-radius: 25px;
  padding: 0 40px;
  line-height: 47px;
  margin-bottom: $margin-lg;
  text-transform: uppercase;

  @include make-buttons("primary", $primary, white);
  @include make-buttons("white", white, $primary);

  .mat-reverse > .mat-button-wrapper {
    flex-direction: row-reverse;
  }

  .mat-button-wrapper {
    @include fontSize($font-sizes);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.mat-fab,
.mat-mini-fab {
  //border-radius: 50%;
  display: flex;

  .mat-button-wrapper {
    width: 100%;
    align-self: center;
  }
}

.btn-block:not(.mat-fab):not(.mat-mini-fab):not(.mat-icon-button) {
  display: block;

  .mat-button-wrapper {
    position: relative;

    .mat-icon {
      left: -25px;
      position: absolute;
    }
  }

  &:not(a) {
    width: 100%;
  }
}
