.mat-card {
  @include bodyFont;
  color: $primary !important;
  background-color: $white;
  padding: $margin-xxl;
}

.mat-card-content,
.mat-card-subtitle {
  width: 100%;
  @include fontSize($font-sizes);
}

.mat-card-header {
  flex-direction: column;
  margin-bottom: $margin-xxl;
}

.mat-card-header-text {
  margin: 0 0;
}
