.mat-expansion-panel-header {
  .mat-button-base {
    padding: 0 10px !important;
    line-height: 30px !important;
    margin-bottom: 0 !important;
    border-radius: 5px !important;
  }
}

.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description,
.mat-expansion-indicator {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
