.mat-mdc-expansion-panel-header {
  .mat-mdc-button-base:not(.mat-mdc-fab):not(.mat-mdc-mini-fab):not(
      .mat-mdc-icon-button
    ) {
    padding: 0 10px !important;
    line-height: 30px !important;
    margin-bottom: 0 !important;
    border-radius: 5px !important;
  }
}

.mat-mdc-expansion-panel-header-title,
.mat-mdc-expansion-panel-header-description,
.mat-mdc-expansion-indicator {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mat-mdc-expansion-panel {
  color: $primary !important;
}

.mat-mdc-expansion-panel-header-title {
  color: $primary !important;
}

.mat-mdc-accordion {
  display: block;
  margin-bottom: $margin-lg;
}

.mat-mdc-expansion-panel-header {
  margin-bottom: $margin-lg;
  position: relative;
  height: auto !important;
  padding: $padding-lg !important;

  &.mat-mdc-expanded {
    height: auto !important;
  }

  &:after {
    content: "";
    height: 1px;
    background-color: $silver;
    position: absolute;
    left: $margin-lg;
    right: $margin-lg;
    bottom: 0;
  }
}

.mat-mdc-expansion-panel-body {
  padding: 0 $padding-lg !important;
}

.mat-mdc-expansion-indicator {
  &:after {
    color: $primary;
  }
}

.mat-mdc-action-row {
  position: relative;
  border-top-style: none !important;
  justify-content: start !important;
  padding: 16px $margin-lg !important;

  &:after {
    content: "";
    height: 1px;
    background-color: $blue-030;
    position: absolute;
    left: $margin-lg;
    right: $margin-lg;
    top: 0;
  }
}
