.mat-snack-bar-container {
  display: flex;
  margin: 0;
  box-shadow: none;
  border-radius: 0;
  width: 100%;
  max-width: 100%;
  height: $header-height;
  align-items: center;
  justify-content: center;

  &.mat-warning {
    background-color: $orange;
  }

  &.mat-error,
  &.mat-danger {
    background-color: $cherry;
    // background-color: $blush;
    // background-color: $warm-red;
  }

  &.mat-success {
    background-color: green;
  }

  &.mat-info {
    background-color: $violet;
  }
}