.mat-table {
  width: 100%;
  background-color: $dark-grey;
}

.mat-row,
.mat-header-row {
  height: 60px;
}

.mat-header-cell,
.mat-cell {
  color: white;

  &:first-of-type {
    padding-left: $padding-md;
  }

  &:last-of-type {
    padding-right: $padding-md;
  }
}
